// -----------------------------------------------------------------------------
// This file contains all styles related to the Navbar of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts/variables";

.NavPublic,
.NavPrivate {
  height: 60px;
  width: 100%;
  background-color: variables.$secondary-color;
  color: variables.$primary-color;
  display: flex;
  justify-content: flex-end;
  &__logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.01em;
    font-family: "Whyte Inktrap", Whyte, sans-serif;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 80%;
    text-decoration: none;
    img {
      height: 40px;
      width: 40px;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: variables.$secondary-color;
  }
  &__item {
    background-color: variables.$secondary-color;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    color: variables.$primary-color;
  }
  &__link {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 10px;
    padding: 12px 20px 14px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: transform 200ms ease 0s, background 200ms ease 0s;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .NavPublic {
    &__list {
      display: flex;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
