// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// variables.$text-font-stack
 $text-font-stack:  "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
 sans-serif;

//  variables.$primary-color
 $primary-color:  #000;

//  variables.$title-color
 $title-color:  #000000;

//  variables.$secondary-color
$secondary-color:  #ffffff;


$max-width: 1180px;

$breakpoints: (
  'small': 600px,
  'medium': 768px,
  'large': 960px,
);



$base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/';
